@import 'bootstrap/scss/bootstrap';
@import "./variables";

// $secondary-color: #6c757d;
// $success-color: #28a745;
// $error-color: #dc3545;

// $padding-base: 1rem;
// $border-radius: 6px;

// $font-main: 'Roboto', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#root {
  background-color: #8080802b;
}

button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-text.MuiPaginationItem-rounded.Mui-selected.MuiPaginationItem-page {
  background: transparent;
  border: 2px solid $primary-color;
  border-radius: 5px;
  box-shadow: none;
}

.form-control {
  height: 47px;
  border-radius: 5px;
  border: 1px solid #00000033;
}

.input-group {
  span {
    background: white !important;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: unset;
    border: none;
  }

  .form-control:focus-visible {
    box-shadow: none;
    border-color: unset;
    border: none;
  }

  .form-control:active {
    box-shadow: none;
    border-color: unset;
    border: none;
  }

  .input-group-text {
    position: absolute;
    right: -1px;
    z-index: 9999;
    border: none;
    background: transparent !important;
    top: 4px;
    cursor: pointer;
  }
}