.sidebar-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(181.81deg, #1D4289 0.97%, #00B78B 99.77%);

  .logo {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
  }

  .sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    img {
      width: 50%;
      margin-left: 28px;
      margin-top: 15px;
    }

    button {
      border: none;
      background: transparent;

      svg {
        color: white;
        font-size: 35px;
      }
    }
  }

  .sidebar-content {
    div {
      background: transparent;
    }

    .hr-custom {
      border: 1px solid white;
    }

    li {
      color: white;
      font-size: 17px;
    }

    a:hover {
      background: #ffffff14;
      color: white;
    }

    .active {
      background: #ffffff14;
    }
  }

  .sidebar-content-collapsed {
    div {
      background: white;
    }

    .hr-custom {
      border: 1px solid white;
    }

    li {
      color: #ffffff87;
      font-size: 17px;
      background: transparent;

      div {
        // background-color: rgb(251, 252, 253);

        span {
          color: #0000007a;
        }

        span:hover {
          color: black;
        }
      }

      a {
        color: grey;
        background: transparent;

        svg {
          color: white;
        }
      }

      a:hover {
        color: black;
        background: #ffffff17;
      }
    }
  }
}