@import "styles/_variables.scss";

.button-container {
  width: 120px;
  height: 44px;
  background: $primary-color;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
}